@import "variables";

.summaryTable {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.summaryCell {
  text-align: center;
  display: inline-block;
}
.no-padding {
  padding: 0;
  text-align: center;
}
// ::ng-deep .k-column-title {
//     white-space: normal;
// }
// ::ng-deep .k-grid td{
//     padding: unset;
//     height: 35px;
//     text-align-last: center;
// }

section.chart {
  border: $border-100;
  border-radius: $border-radius;
  padding: 0.5rem;
  height: auto;
}

.vh-45 {
  height: 45vh;
}

.vh-10 {
  height: 10vh;
}

#wotable .k-grid-content {
  min-height: 200px;
  max-height: 500px;
}

.tabbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  &__datepicker {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    &__text {
      width: 100px;
    }
  }
  &__title {
    font-size: large;
    font-weight: bold;
  }
}

.indicator_new {
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &_card {
    width: inherit;
    margin-top: 20px;
  }
}
